<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h1 class="first-child">Recent Tweets</h1>
        <div class="tweet">
          <i class="fa fa-twitter fa-2x"></i>
          <p>
            Ut tincidunt erat quis viverra consectetur. Suspendisse tempus vulputate leo.
            <a href="#">1 day ago</a>
          </p>
        </div>
        <div class="tweet">
          <i class="fa fa-twitter fa-2x"></i>
          <p>
            Mauris eget lacus ut ipsum dignissim malesuada quis nec ante.
            <a href="#">2 days ago</a>
          </p>
        </div>
      </div>
      <div class="col-sm-3">
        <h1>Quick Links</h1>
        <ul class="links">
          <li><a href="about-us.html">About Us</a></li>
          <li><a href="sign-in.html">Sign In</a></li>
          <li><a href="sign-up.html">Create Account</a></li>
          <li><a href="portfolio.html">Our Portfolio</a></li>
          <li><a href="blog.html">Blog Posts</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h1>Contact Us</h1>
        <p>Do not hesitate to contact us if you have any questions or feature requests:</p>
        <p>
          San Francisco, CA 94101<br>
          1987 Lincoln Street<br>
          Phone: +0 000 000 00 00<br>
          Fax: +0 000 000 00 00<br>
          Email: <a href="#">admin@mysite.com</a>
        </p>
      </div>
      <div class="col-sm-3">
        <img class="footer-brand" src="/assets/img/logo.png" alt="...">
        <p>Copyright 2014 - Oneline Theme by <a href="https://twitter.com/YevSim">Yevgeny S.</a></p>
        <p>All Rights Reserved.</p>
        <ul class="social-links">
          <li class="twitter"><a href="https://twitter.com/YevSim"><i class="fa fa-twitter"></i></a></li>
          <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>