<!-- Template Pages -->
<div class="row">
  <div class="col-sm-12">
    <h1 class="title-lg"><span>Recent Works</span></h1>
  </div>
</div> <!-- / .row -->
<div class="row portfolio-block">
  <div class="col-md-6 col-sm-12">
    <div class="portfolio-item"><a href="#">
      <div class="img">
        <img class="img-responsive" src="/assets/img/general-1.jpg" alt="...">
      </div>
      <div class="info">
        <h4>Image Title</h4>
        <p class="text-muted">Short image description.</p>
      </div></a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="portfolio-item"><a href="#">
      <div class="img">
        <img class="img-responsive" src="/assets/img/general-4.jpg" alt="...">
      </div>
      <div class="info">
        <h4>Image Title</h4>
        <p class="text-muted">Short image description.</p>
      </div></a>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="portfolio-item"><a href="#">
      <div class="img">
        <img class="img-responsive" src="/assets/img/general-3.jpg" alt="...">
      </div>
      <div class="info">
        <h4>Image Title</h4>
        <p class="text-muted">Short image description.</p>
      </div></a>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="portfolio-item"><a href="#">
      <div class="img">
        <img class="img-responsive" src="/assets/img/general-2.jpg" alt="...">
      </div>
      <div class="info">
        <h4>Image Title</h4>
        <p class="text-muted">Short image description.</p>
      </div></a>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="portfolio-item"><a href="#">
      <div class="img">
        <img class="img-responsive" src="/assets/img/general-1.jpg" alt="...">
      </div>
      <div class="info">
        <h4>Image Title</h4>
        <p class="text-muted">Short image description.</p>
      </div></a>
    </div>
  </div>
</div> <!-- / .row -->