<!-- Template Pages -->
<div class="row">
  <div class="col-sm-12">
    <h1 class="title-lg"><span>Timeline</span></h1>
  </div>
</div> <!-- / .row -->
<div class="row">
  <div class="col-sm-12">
    <ul class="timeline">
      <li class="year">
        <span>2014</span>
      </li>
      <li></li>
      <li class="event">
        <h3>Work has been started</h3>
        <time datetime="2014-04-28">Apr 28, 2014</time>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.
        </p>
      </li>
      <li class="event">
        <h3>Alpha verson released</h3>
        <time datetime="2014-05-05">May 05, 2014</time>
        <p>
          <img class="img-responsive" src="/assets/img/general-4.jpg" alt="...">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.
        </p>
      </li>
      <li class="event">
        <h3>Beta verson released</h3>
        <time datetime="2014-05-07">May 07, 2014</time>
        <p>
          <img class="img-responsive" src="/assets/img/general-2.jpg" alt="...">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.
        </p>
      </li>
      <li class="event">
        <h3>RC-1 released</h3>
        <time datetime="2014-05-10">May 10, 2014</time>
        <p>
          Donec eu sem placerat, porta nulla a, dignissim tellus. Praesent non lorem leo. Mauris quis hendrerit metus, id vehicula leo. Cum sociis natoque penatibus et magnis dis parturient montes.<br />
        </p>
      </li>
      <li class="event">
        <h3>RC-2 released</h3>
        <time datetime="2014-05-14">May 14, 2014</time>
        <p>
          Donec eu sem placerat, porta nulla a, dignissim tellus. Praesent non lorem leo. Mauris quis hendrerit metus, id vehicula leo. Cum sociis natoque penatibus et magnis dis parturient montes.<br />
        </p>
      </li>
      <li class="event">
        <h3>Final version released</h3>
        <time datetime="2014-05-10">May 20, 2014</time>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.
        </p>
        <a class="btn btn-red" href="#"><i class="fa fa-download"></i> Download</a>
      </li>
    </ul>
  </div>
</div> <!-- / .row -->