{% macro terms_has_items(item_type) %}{% spaceless %}
  {% set items = 'items' | resource('type=' + item_type) %}
  {% for item in items %}
    {% for term in item.relationships.categories.data %}
      true
    {% endfor %}
  {% endfor %}
{% endspaceless %}{% endmacro %}

{% macro term_has_posts(item_type, term_id) %}{% spaceless %}
  {% set items = 'items' | resource('type=' + item_type) %}
  {% for item in items %}
    {% for term in item.relationships.categories.data %}
      {% if term.id === term_id %}
        true
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endspaceless %}{% endmacro %}

{% set categories = 'items' | resource('type=blog-post-category') %}
{# {% set posts_with_categories = 'items' | resource('type=blog-post&relationships.categories.data[elemMatch]=[id=[exists=true]]') %} #}
{% set category_path = current_page.attributes.path + '/category/' %}

<!-- Categories -->
{% if terms_has_items('blog-post') %}
  <h1 class="title-block second-child">Kategorier</h1>
  <ul class="categories margin-bottom-30">
  {% for category in categories %}
    {% if term_has_posts('blog-post', category.id) %}
      {% set category_url = category_path + category.attributes.slug %}
      <li{% if url === category_url %} class="active"{% endif %}>
        <a href="{{category_url}}">{{category.attributes.title}}</a>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endif %}