{% import '../../../partials/macros/pagination.html' as pagination %}
{% import '../../../partials/macros/helper.html' as helper %}

{% if Object.keys(current_route.ids).length %}
  {% set current_category = 'items' | resource('type=blog-post-category&attributes.slug[eq]=' + current_route.ids.slug) | first %}
  {{ helper.set_term_items('blog-post', 'categories', current_category.id) }}
  {% set posts = term_items %}
  {# {% set posts = 'items' | resource('type=blog-post&relationships.categories.data[elemMatch]=[id="' + current_category.id + '"]&sort=-meta.created_at') %} #}
{% else %}
  {% set posts = 'items' | resource('type=blog-post&sort=-meta.created_at') %}
{% endif %}
{% set pagination_nav = pagination.init(posts, 10) %}

{% for post in paginate.items %}
  {% set post  = post.attributes %}
  {% set image = post.relationships.image | include %}
  {% set post_path = current_page.attributes.path + '/post/' + post.slug %}
  <!-- Blog Post #{{loop.index}} -->
  <div class="post">
    <img src="/assets/img/photo-1.jpg" alt="...">
    <div class="post-desc">
      <h3 class="post-title">
        <a href="{{post_path}}">{{post.title}}</a>
      </h3>
      <hr>
      <p class="text-muted">
        by
        <a href="#"
          class="author-preview"
          data-toggle="popover"
          data-placement="right"
          data-trigger="hover"
          data-content="Pellentesque nulla leo, laoreet sed luctus eu, dapibus id lorem. Pellentesque eu tincidunt odio."
          data-original-title="John Doe">John Doe
        </a>
        on March 25, 2014
      </p>
      <p>
        {{post.summary}}
      </p>
      <a class="btn btn-lg btn-red" href="{{post_path}}">Läs mer...</a>
      {# <a href="{{post_path}}"><img class="img-responsive post-img" src="/assets/img/general-3.jpg" alt="..."></a> #}
      <br /><br />
    </div>
  </div>
{% endfor %}
{{ pagination_nav | raw }}