<!-- Top authors -->
<h1 class="title-block second-child">Top Stories</h1>
<div class="top-stories">
  <div class="item">
    <img src="/assets/img/photo-1.jpg" alt="...">
    <div class="text">
      <h3><a href="blog-post.html">Nulla at diam et ante pharetra sagittis</a></h3>
      by <a href="#" class="author-preview" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Pellentesque nulla leo, laoreet sed luctus eu, dapibus id lorem. Pellentesque eu tincidunt odio." data-original-title="John Doe">John Doe</a>
    </div>
  </div>
  <div class="item">
    <img src="/assets/img/photo-2.jpg" alt="...">
    <div class="text">
      <h3><a href="blog-post.html">Donec vehicula est id porttitor porta</a></h3>
      by <a href="#" class="author-preview" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Pellentesque nulla leo, laoreet sed luctus eu, dapibus id lorem. Pellentesque eu tincidunt odio." data-original-title="John Doe">John Doe</a>
    </div>
  </div>
  <div class="item">
    <img src="/assets/img/photo-3.jpg" alt="...">
    <div class="text">
      <h3><a href="blog-post.html">Ut nec ligula eu nibh lobortis congue</a></h3>
      by <a href="#" class="author-preview" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Pellentesque nulla leo, laoreet sed luctus eu, dapibus id lorem. Pellentesque eu tincidunt odio." data-original-title="John Doe">John Doe</a>
    </div>
  </div>
</div>