{#
 # Macro set_term_items helps you get the current term items.
 # It generates the following object variables:
 #  - term_items => A list of the current term items
 #}
{% macro set_term_items(item_type, relationships_property_name, term_id) %}
  {% set term_items = [] %}
  {% set count = 0 %}
  {% set temp_items = 'items' | resource('type=' + item_type) %}
  {% for item in temp_items %}
    {% set relationships_obj = item.relationships[relationships_property_name] %}
    {% for term in relationships_obj.data %}
      {% if term.id === term_id %}
        {% set term_items[count] = item %}
        {% set count = count + 1 %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endmacro %}