{#
 # Pagination.html contains one function:
 #  - init(items, pageSize) => Returns rendered pagination navigation
 # It generates the following object variables:
 #  - paginate.items        => Gives you the items to paginate
 # Attn: Has to be set as a variable before rendering page items
 #}
{% macro init(items, pageSize) %}
  {% set pageNumber = 1 %}
  {# {% set pageSize = 10 %} #}
  {% if query.page.number %}{% set pageNumber = parseInt(query.page.number) %}{% endif %}
  {% if query.page.size %}{% set pageSize = parseInt(query.page.size) %}{% endif %}
  {% set paginations = {} %}
  {% set offset = pageSize * [pageNumber-1] %}
  {% set paginations['items'] = items.slice(offset, [offset+pageSize]) %}
  {% set pageSizeCount = pageSize * [pageNumber-1] %}
  {% set pageSizeIndex = 0 %}
  {% set pageCount = 1 %}

  {% set prev_link = '#' %}
  {% if query.page.number and query.page.number > 1 %}
    {% set prev_link = '?page[number]=' + [pageNumber-1] + '&page[size]=' + pageSize %}
  {% endif %}

  {% set next_link = '#' %}
  {% set pageSizeCountPlusPageSize = pageSizeCount + pageSize %}
  {% if pageSizeCountPlusPageSize < items.length %}
    {% set next_link = '?page[number]=' + [pageNumber+1] + '&page[size]=' + pageSize %}
  {% endif %}

  <!-- Pagination -->
  {% if pageSize && items.length > pageSize %}
    <ul class="pagination pull-right">
      <li{% if prev_link === '#' %} class="disabled"{% endif %}>
        <a href="{{prev_link}}">«</a>
      </li>
      {% for item in items %}
        {% if loop.index0 === pageSizeIndex %}
          <li{% if pageSizeIndex === pageSizeCount %} class="active"{% endif %}>
            <a href="?page[number]={{pageCount}}&page[size]={{pageSize}}">{{pageCount}}</a>
          </li>
          {% set pageCount = pageCount + 1 %}
          {% set pageSizeIndex = pageSizeIndex + pageSize %}
        {% endif %}
      {% endfor %}
      <li{% if next_link === '#' %} class="disabled"{% endif %}>
        <a href="{{next_link}}">»</a>
      </li>
    </ul>
    <div class="clearfix"></div>
  {% endif %}

  {# Sets the items to render #}
  {% set paginate = {} %}
  {% set offset = pageSize * [pageNumber-1] %}
  {% set paginate['items'] = items.slice(offset, [offset+pageSize]) %} 
{% endmacro %}